<%= form_for @conn, search_path(@conn, :create), [name: :search], fn f -> %>
<div class="form-group">
  <%= text_input f, :search, placeholder: "Enter your search", class: "form-control" %>
</div>
<%= submit "Consult Pythia", class: "btn btn-primary" %></br>
<% end %>
